.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.announce-list {
  align-content: center;
  padding-right: 20px;
  word-wrap: break-word;
}

#center {
text-align: center;
}
#right{
text-align: right;
}
#high{
  height: 760px;
}
.myCalendarHeight{
  height: 350px;
  width: 100%;
}

#extra{
  height: 600px;
  overflow-y: scroll;
}

.message-content {
white-space: pre-line;
}

.site-calendar-customize-header-wrapper {
  width: 300px;
  border: 1px solid #f0f0f0;
  border-radius: 2px;
}
.site-calendar-demo-card {
  width: "100%";
  border: 1px solid #f0f0f0;
  border-radius: 2px;
  background-color: transparent;
}

